body {
  background-color: #E2DED6;
  color: #14332E;
  margin: 0px;
  padding: 0px;
}

#foodbridgenav {
  background-color: #ACE1AF;
  padding: 0.75rem;
  margin: 0px;
  width: 100%;
}

.navbar {
  padding: 0px;
  border-bottom: 2px solid olivedrab;
}

.card {
  background-color: #ACE1AF;
  border: solid 1px #e68930;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

a {
  color: #182928;
}

a:hover {
  color: green;
}

.food-request-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  padding: 4rem;
}

.card * {
  padding: .5rem;
}

.foodrequest {
  margin: 0 auto;
  width: 80rem;
}

.donations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.chat {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-color: #ACE1AF;
  border: 2px solid #14332E;
}

.chat-icon {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100%;
  background-color: #ACE1AF;
  color: #182928;
  height: 100px;
  width: 100px;
}

.chat-icon-p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.chat-icon:hover {
  background-color: #e68930;
  color: #ACE1AF;
  cursor: pointer;;
}